<template name="Footer">
  <footer>
    <div style="padding-top: 15px" class="ui center aligned container">
      <hr>
      <h3>
        <a id="authors-and-contributors" class="anchor" href="#authors-and-contributors" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Authors and Contributors</h3>

      <p>
        Alexander Sanchez(<a href="https://github.com/amsanchez93" class="user-mention">@amsanchez93</a>)<br>
        Derrick Comiso(<a href="https://github.com/derrick-comiso" class="user-mention">@derrick-comiso</a>)<br>
        Egan Nakano(<a href="https://github.com/Enakano" class="user-mention">@Enakano</a>)<br>
        Joseph Nasca(<a href="https://github.com/jnasca" class="user-mention">@jnasca</a>)<br>
      </p>
      ICS 314, Fall 2016<br />
    </div>
  </footer>
</template>